.custom-dropdown {
  position: relative;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  z-index: 1;
  cursor: pointer; /* Add this to indicate interactivity */
}

.custom-dropdown:hover .custom-dropdown-content,
.custom-dropdown.active .custom-dropdown-content {
  display: block;
}

.custom-dropdown-option:hover {
  background-color: #ddd; /* Highlight on hover */
}
